<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yolijoli"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UmProfile"
            android:exported="true">
            <!-- Profile 액티비티를 시작하는 인텐트를 정의할 수 있는 인텐트 필터를 추가해줍니다. -->
            <intent-filter>
                <action android:name="com.example.yolijoli.START_UMPROFILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:exported="true">
            <!-- Profile 액티비티를 시작하는 인텐트를 정의할 수 있는 인텐트 필터를 추가해줍니다. -->
            <intent-filter>
                <action android:name="com.example.yolijoli.START_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchList"
            android:exported="true">
            <!-- Profile 액티비티를 시작하는 인텐트를 정의할 수 있는 인텐트 필터를 추가해줍니다. -->
            <intent-filter>
                <action android:name="com.example.yolijoli.START_SEARCHLIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>